import(wdm,MASS,FactoMineR,nleqslv,nnet,ggplot2,ggrepel,RColorBrewer)

  importFrom("grDevices", "col2rgb", "rainbow", "rgb")
  importFrom("graphics", "abline", "lines", "plot", "points", "text")
  importFrom("stats", "aggregate", "as.formula", "cor", "glm", "lm",
             "quantile", "residuals", "weighted.mean", "aov", "chisq.test",
             "cor.test", "median", "sd", "summary.lm",
             "addmargins",
             "pnorm",
             "density")
  importFrom("utils", "installed.packages", "combn")
  importFrom("rlang", ".data", "as_name")

S3method(plot, speMCA)
S3method(plot, csMCA)
S3method(plot, multiMCA)
S3method(plot, stMCA)

export(assoc.twocat,assoc.catcont,assoc.twocont,assoc.yx,burt,catdesc,conc.ellipse,condesc,contrib,csMCA,darma,dichotom,dimcontrib,dimdescr,dimeta2,dimtypicality,flip.mca,getindexcat,
       ggadd_attractions,ggadd_chulls,ggadd_corr,ggadd_density,ggadd_ellipses,ggadd_interaction,ggadd_kellipses,ggadd_supind,ggadd_supvar,ggassoc_crosstab,ggassoc_phiplot,ggassoc_boxplot,ggassoc_scatter,ggcloud_indiv,ggcloud_variables,homog.test,indsup,medoids,modif.rate,multiMCA,pem,phi.table,plot.csMCA,plot.multiMCA,plot.speMCA,plot.stMCA,speMCA,stMCA,tabcontrib,textindsup,textvarsup,translate.logit,varsup,wtable)